.containerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background: #000000;
  color: #3ef4d9;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3ef4d9;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu li {
  cursor: pointer;
  transition: 0.3s;
}

.menu li:hover {
  color: #2ed1ba;
}
